<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>

    <body>


        {% if categories %}
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="{% url 'category' category_id=category.id %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}y
            <strong>There are no categories present.</strong>
       {% endif %}

    </body>
</html>