<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
        <h1>{{ band_name }}</h1>
        {% if band %}
            {% if songs %}
            <ul>
                {% for song in songs %}
                <li><a href="/translate/{{ song.id }}">{{ song.name }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
    </body>
</html>